<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Member - Edit</title>
</head>

<body>
    <form name="editform" action="memberEdit" method="post" accept-charset="utf-8">
        <h1>Member - Edit</h1>
        <input type="hidden" name="id" value="<%=data[0].ID  %>" />
        <div>
            <label>name：</label>
            <input type="text" name="member_name" value="<%=data[0].Name %>"/>
        </div>
        <div>
            <label>gender：</label>
            <input type="text" name="gender" value="<%=data[0].Gender %>" />
        </div>
        <div>
            <label>birthday：</label>
            <input type="date" name="birthday" value="<%=data[0].Birthday %>">
        </div>
        <div>
            <input type='submit' value='Submit'>
            <input type='button' value='Back' onclick="javascript: window.history.back();">
        </div>
    </form>
</body>

</html>