<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Register</title>
</head>

<body>
    <form name="addform" action="/public/signup" method="post" accept-charset="utf-8" >
        <h1>Register</h1>
        <div>
            <label>username：</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>password：</label>
            <input type="password" name="password" >
        </div>
        <div>
            <input type='submit' value='Submit'>
        </div>
    </form>
    <div>have an acount?<a href="public/login">login</a></div>

</body>

</html>
